Repository InfiniTensor/RefactorGraph, pull requests merged in 2024-01, with the labels that each got.

#71 feat: add Erf cpu/cuda kernel
  src/04kernel/src/kernels/simple_unary/cpu_kernel.cc
  src/04kernel/src/kernels/simple_unary/cuda_kernel.cc
  src/04kernel/test/kernels/simple_unary/test_cpu.cpp
  src/04kernel/test/kernels/simple_unary/test_cuda.cpp
  src/07onnx/test/test_simple_unary.cpp
Labels: kernel

#72 添加 Mod cpu/cuda 算子
  src/04kernel/include/kernel/collectors/simple_binary.h
  src/04kernel/src/collectors/simple_binary.cc
  src/04kernel/src/kernels/simple_binary/cpu_kernel.cc
  src/04kernel/src/kernels/simple_binary/cuda_kernel.cc
  src/04kernel/test/kernels/simple_binary/test_binary_cpu.cpp
  src/04kernel/test/kernels/simple_binary/test_binary_cuda.cpp
  src/05computation/src/operators/simple_binary.cc
  src/07onnx/src/operators/simple_binary.cc
  src/07onnx/src/operators/simple_binary.hh
Labels: kernel, operator

#79 Add headfile for gcc 12
  src/00common/include/common/rc.hpp
Labels: framework

#78 add HardSigmoid cpu/cuda kernel
  src/04kernel/include/kernel/collectors/hard_sigmoid.h
  src/04kernel/src/collectors/hard_sigmoid.cc
  src/04kernel/src/kernels/hard_sigmoid/cpu_kernel.cc
  src/04kernel/src/kernels/hard_sigmoid/cpu_kernel.hh
  src/04kernel/src/kernels/hard_sigmoid/cuda_kernel.cc
  src/04kernel/src/kernels/hard_sigmoid/cuda_kernel.hh
  src/04kernel/test/kernels/hard_sigmoid/test_cpu.cpp
  src/04kernel/test/kernels/hard_sigmoid/test_cuda.cpp
  src/05computation/include/computation/operators/hard_sigmoid.h
  src/05computation/src/operators/hard_sigmoid.cc
  src/07onnx/src/operators.cpp
  src/07onnx/src/operators/hard_sigmoid.cc
  src/07onnx/src/operators/hard_sigmoid.hh
  src/07onnx/src/operators/split.cc
  src/07onnx/test/test_hard_sigmoid.cpp
Labels: kernel, operator

#73 feat: add hardswish cpu/cuda kernel
  src/04kernel/include/kernel/collectors/simple_unary.h
  src/04kernel/src/collectors/simple_unary.cc
  src/04kernel/src/kernels/simple_binary/cpu_kernel.cc
  src/04kernel/src/kernels/simple_binary/cuda_kernel.cc
  src/04kernel/src/kernels/simple_unary/cpu_kernel.cc
  src/04kernel/src/kernels/simple_unary/cuda_kernel.cc
  src/04kernel/test/kernels/simple_binary/test_binary_cpu.cpp
  src/04kernel/test/kernels/simple_unary/test_cpu.cpp
  src/04kernel/test/kernels/simple_unary/test_cuda.cpp
  src/05computation/src/operators/simple_unary.cc
  src/07onnx/src/operators.cpp
  src/07onnx/src/operators/simple_unary.cc
  src/07onnx/src/operators/simple_unary.hh
  src/07onnx/test/test_simple_unary.cpp
Labels: kernel, operator

#84 add max/min kernel
  src/04kernel/include/kernel/collectors/select.h
  src/04kernel/include/kernel/selector.h
  src/04kernel/src/attributes/broadcaster.cc
  src/04kernel/src/collectors/select.cc
  src/04kernel/src/kernels/concat/cuda_kernel.cc
  src/04kernel/src/kernels/select/cpu_kernel.cc
  src/04kernel/src/kernels/select/cpu_kernel.hh
  src/04kernel/src/kernels/select/cuda_kernel.cc
  src/04kernel/src/kernels/select/cuda_kernel.hh
  src/04kernel/test/kernels/select/test_cpu.cpp
  src/04kernel/test/kernels/select/test_cuda.cpp
  src/05computation/include/computation/operators/select.h
  src/05computation/src/operators/select.cc
Labels: kernel
